.navlink-wrapper {
	display: flex;
	gap: 80px;
	margin-right: 5%;
}

.nav-link {
	cursor: pointer;
	font-weight: 700;
	position: relative;
	padding: 5px 0;
}

.nav-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 5px;
	background-color: #008dff;
	border-radius: 50px;
	transform: translateX(-50%);
	transition: width 0.3s ease;
}

.nav-link:hover::after {
	width: 70%;
	transition: width 0.3s ease;
}

.website-logo {
	width: 180px;
	height: 180px;
	cursor: pointer;
}

.navbar-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
